---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";

---
<html lang="en">
<style>
    body {
        line-height: 1.6;
    }
    div {
        width: 60%;
        margin: auto;
        font-size: 1.4rem;
    }
</style>
<BaseHead title={"cma"}
    description={"told u so"}
/>
<Header />

<body>
    <div>
i stg that i'm not doing this as a money grab or scam, today is 12-11-2025 and my number one goal is to make a highly accessible language resource available to k-12 teachers and higher education in the united states.
<br /><br />
<strong>we bringin paper and pencils back wit this bih</strong>

<br /><br />
      edtech is there to support the learners and instructors, not artificially inhibit them

<br /><br />
git commiting this so there's proof when i make it
    </div>
</body>
</html>
